@model Assignment2.Models.EmpTask

@{
    ViewData["Title"] = "Edit Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-center p-3">
    <h1>Edit Task</h1>
    <button class="btn btn-primary" type="submit" form="form">Save</button>
</div>

<form asp-action="Edit" id="form" class="d-flex flex-wrap w-100 justify-content-between gap-2 p-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id"/>

    <div class="form-floating mb-3">
        <input asp-for="Title" class="form-control" id="floatingTitle" placeholder="Title">
        <label for="floatingTitle">Title</label>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Description" class="form-control" id="floatingDescription" placeholder="Description">
        <label for="floatingDescription">Description</label>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Status" class="form-control" id="floatingStatus" placeholder="Status">
        <label for="floatingStatus">Status</label>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Employee" class="form-control" id="floatingEmployee" placeholder="Employee">
        <label for="floatingEmployee">Employee</label>
        <span asp-validation-for="Employee" class="text-danger"></span>
    </div>

</form>